* {
    padding: 0;
    margin: 0;
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
    font-family: Figtree, sans-serif;
    font-feature-settings: normal
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 36px;
    background-color: #e5e5f7;
    background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #e5e5f7 37px), repeating-linear-gradient(#bcbfff55, #bcbfff);
}

header>nav {
    display: flex;
    flex-direction: row;
    gap: 16px;

}

nav>a {
    text-decoration: none;
    font-weight: 600;
    color: #000;
    padding: 8px 12px;
    border-radius: 4px;

}

.logo {
    font-weight: 600;
    font-size: 1.25rem;
}

.selectedPage {
    border: 1px solid #000;
    background-color: #fff7;
}

.header {
    font-weight: 600;
    padding-right: 20px;
}

section {
    padding: 24px 16px;
    gap:16px;
    display: flex;
    flex-direction: column;
}

main {
    padding: 24px;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control>label {
    font-weight: 600;
}

.input-control>input,
.input-control>textarea {
    border-radius: 4px;
    padding: 8px;
    outline: none;
    border: 1px solid #0004;
    font-family: Figtree, sans-serif;
    transition: all .25s ease-in;
}

.input-control>input:focus-within,
.input-control>textarea:focus-within {
    border: 2px solid #757cfb;
    background-color: #bcbfff55;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

form>button, section>button {
    padding: 8px;
    background-color: #4d55e4;
    color: #fff;
    outline: none;
    border: 2px solid #4d55e4;
    border-radius: 4px;
    font-family: Figtree, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .25s ease-in;
}

form>button:hover, section>button:hover {
    cursor: pointer;
    background-color: #bcbfff55;
    color: #4d55e4;
}

h1{
    font-size: 3rem;
}
.errorMessage{
    color: red;
}