* {
    padding: 0;
    margin: 0;
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
    font-family: Figtree, sans-serif;
    font-feature-settings: normal
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #e5e5f7;
    background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #e5e5f7 37px), repeating-linear-gradient(#bcbfff55, #bcbfff);
    display: flex;
    justify-content: center;
    align-items: center;
}

.errorMessage {
    color: red;
}

.card {
    padding: 24px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 0 5px 5px #0002;
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-control {
    position: relative;
    padding-top: 24px;
    display: flex;
    flex-direction: column;
}

.input-control label {
    position: absolute;
    top: 30px;
    left: 18px;
    pointer-events: none;
    transition: all .2s ease-out;
    opacity: 0.5;
}

.input-control input {
    padding: 8px 16px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #000;
    font-family: Figtree, sans-serif;
}

.input-control input:focus {
    border: 2px solid #444;
}

input:not(:placeholder-shown)+label {
    transform: translate(-16px, -32px);
    opacity: 1;
}

input:focus-within+label {
    transform: translate(-16px, -32px);
    opacity: 1;
}

form>button,
section>button {
    padding: 8px;
    background-color: #4d55e4;
    color: #fff;
    outline: none;
    border: 2px solid #4d55e4;
    border-radius: 4px;
    font-family: Figtree, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .25s ease-in;
}

form>button:hover,
section>button:hover {
    cursor: pointer;
    background-color: #bcbfff55;
    color: #4d55e4;
}